---

---

<div class="drawer">
  <input type="checkbox" id="drawer" class="drawer-toggle" />
  <div class="drawer-content flex items-center">
    <label for="drawer" aria-label="open sidebar" class="btn-ghost drawer-button cursor-pointer rounded p-1">
      {/* mdi:menu */}
      {/* @see https://icon-sets.iconify.design/mdi/menu/ */}
      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"></path>
      </svg>
    </label>
  </div>
  <div class="drawer-side">
    <label for="drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu min-h-full w-80 bg-base-200 text-base-content"></div>
  </div>
</div>
