---

---

<div class="drawer">
  <input type="checkbox" id="drawer" class="drawer-toggle" />
  <div class="drawer-content flex items-center">
    <label for="drawer" aria-label="open sidebar" class="btn btn-square btn-ghost drawer-button no-animation">
      <iconify-icon icon="mdi:menu" width="2rem" height="2rem" class="inline-block size-8"></iconify-icon>
    </label>
  </div>
  <div class="drawer-side">
    <label for="drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="menu min-h-full w-80 bg-base-200 text-base-content"></div>
  </div>
</div>
