---

---

<footer class="footer footer-center bg-base-300 p-12 text-base-content">
  <aside>
    <p>Copyright © {new Date().getFullYear()} - All right reserved by Fumiya Takaki</p>
  </aside>
</footer>
