---
import ThemeController from './ThemeController.astro'
---

<header class="sticky top-0 z-10 bg-base-100 bg-opacity-90 text-base-content backdrop-blur">
  <nav class="navbar">
    <div class="navbar-start"></div>
    <div class="navbar-center">
      <a href="/" class="text-2xl">Containers Astro</a>
    </div>
    <div class="navbar-end flex items-center gap-2">
      <ThemeController />
      <a
        href="https://github.com/qounme/containers-astro"
        target="_blank"
        rel="noopener"
        class="btn-square btn-ghost btn-sm hover:bg-transparent">
        <iconify-icon icon="mdi:github" width="2em" height="2em" class="stroke-base-content"></iconify-icon>
      </a>
    </div>
  </nav>
</header>
