---

---

<div id="light-theme-controller" class="btn btn-square btn-ghost no-animation btn-sm inline-flex dark:hidden">
  <iconify-icon icon="ph:sun-fill" width="1.5rem" height="1.5rem" class="inline-block size-6"></iconify-icon>
</div>
<div id="dark-theme-controller" class="btn btn-square btn-ghost no-animation btn-sm hidden dark:inline-flex">
  <iconify-icon icon="ph:moon-stars-fill" width="1.5rem" height="1.5rem" class="inline-block size-6"></iconify-icon>
</div>

{/* テーマの更新 */}
<script>
  const lightThemeController = document.getElementById('light-theme-controller')!
  const darkThemeController = document.getElementById('dark-theme-controller')!

  const updateTheme = (theme: 'light' | 'dark') => {
    document.documentElement.setAttribute('data-theme', theme)
    localStorage.setItem('theme', theme)
  }

  lightThemeController.addEventListener('click', () => updateTheme('dark'))
  darkThemeController.addEventListener('click', () => updateTheme('light'))
</script>
